* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: rgba(238, 238, 238);
    opacity: 1;
    transition: opacity 1s ease-in-out;
}


body::-webkit-scrollbar{
    display: none;
}

html,body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.container{
    height: auto;
    min-width: 100%;
    background: rgb(238, 238, 238);
    padding: 2%;
    display: flex;
    gap: 30px;
}

.container .left-container{
    margin-top: 69px;
    height: 80vh;
    width: 290px;
    background: rgba(246, 246, 246);
    border-radius: 7px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.left-container .image{
    height: 200px;
    width: 13vw;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

.left-container .image:hover{
    scale: 1.5;
}

.left-container .image img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.left-container .my-name{
    font-size: 3vw;
    font-weight: 700;
}

.left-container .desig{
    background: rgb(238, 238, 238);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    height: 50px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    color: crimson;
    transition: all 0.5s ease;
}

.left-container .desig:hover{
    scale: 1.2;
}

.left-container .social-links{
    margin-top: 10px;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 20px;
}

.left-container .social-links .links{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(238, 238, 238);
    padding: 15px;
}

.left-container .social-links .links a{
    font-size: 30px;
    color: #006666;
}

.left-container .infos{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: rgb(238, 238, 238);
    border-radius: 10px;
    padding-left: 7px;
}

.left-container .infos .info-cont{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-container .infos .info-cont .info-icon{
    font-size: 1.5vw;
    padding: 0.3vw;
    color: #006666;   
}

.left-container .infos .info-cont .info-text{
    color: #006666;
    font-size: 1vw;
}


.container .contents{
    height: 100%;
    width: 80%;
}

.container .contents .top-container{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: right;
}

.container .contents .top-container .navbar{
    height: 100%;
    width: 300px;
    background: rgba(246, 246, 246);
    border-radius: 7px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a{
    font-size: 20px;
    color: black;
}

.navbar a i{
    margin-right: 30px;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
    background: rgb(223, 223, 223);
}

.container .contents .bottom-container{
    height: auto;
    width: 100%;
    margin-top: 10px;
    /*background: rgba(246, 246, 246);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);*/
    border-radius: 7px;
}

.bottom-container .qutos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 30px;
    text-align: center;
    color: white;
    background: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bottom-container .qutos h1{
    font-size: 5.5vw;
    font-weight: bold;
}

.name-subtext{
    width: 100%;
    text-align: center;
}

.name-subtext .name{
    font-size: 40px;
    padding-bottom: 10px;
    line-height: 60px;
}

.name-subtext .name span{
    font-weight: bold;
    border-bottom: 4px solid #006666;
    color: #006666;
}

.sub-text span{
    font-size: 40px;
    color: crimson;
}

.bottom-container .resume-git{
    height: 60px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.bottom-container .resume-git button{
    font-size: 20px;
    padding: 15px 25px;
    border-radius: 7px;
    height: 80%;
    cursor: pointer;
    transition: all 0.25s ease;
}

.bottom-container .resume-git .resume{
    background: black;
    color: white;
    border: none;
}

.bottom-container .resume-git .github{
    background: white;
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

.bottom-container .resume-git button:hover{
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
}

#homes{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
    border-radius: 10px;
    background:white;
    margin-bottom: 2%;
}

#ido{
    height: auto;
    background: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.what_i_do h2{
    font-size: 30px;
    padding: 20px;
    color: #006666;
}

.what_i_do .container{
    width: 100%;
    height: auto;
    border-radius: 10px;
    grid-gap: 1rem;
    background: white;
    grid-template-columns: repeat(auto-fit , minmax(230px , 1fr));
    border-radius: 10px;
}

.what_i_do .container .box{
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    background: rgb(233, 233, 233);
}

.what_i_do .container .box h2{
    color: #006666;
}

.what_i_do .container .box p{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: justify;
    color: gray;
}

.about{
    height: auto;   
}

.about h2{
    font-size: 30px;
    padding: 20px;
    color: #006666;
}

#abouts{
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
    border-radius: 10px;
    background:white;
    margin-bottom: 2%;
}

.about-container{
    padding: 10px;
    height: auto;
    gap: 30px;
}

.about-container .text .intro .disc{
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    color: gray;
}

.about-container .text .intro .disc span{
    font-size: 30px;
}

.about .scroll{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .scroll .runner{
    height: 100%;
    width: 50%;
    background: rgb(233, 233, 233);
    border-radius: 7px;
}

.about .scroll .runner marquee{
    padding: 15px;
    color: #006666;
    display: flex;
}

.about .scroll .runner marquee label{
    margin-right: 15px;
}

.about .scroll .runner marquee i{
    margin-right: 4px;
}

#education{
    background:white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    height: auto;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 2%;
}

.edu h2{
    font-size: 30px;
    padding: 20px;
    color: #006666;
}

.edu .container{
    height: auto;
    display: grid;
    grid-gap: 1rem;
    background: white;
    grid-template-columns: repeat(auto-fit , minmax(270px , 1fr));
    border-radius: 10px;
}

.edu .container .box{
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    cursor: pointer;
    background: rgb(233, 233, 233);
}

.edu .container .box .label{
    font-size: 25px;
    color: #006666;
}

#skills{
    height: auto;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 2%;

}

.skill h2{
    font-size: 30px;
    padding: 20px;
    color: #006666;
}

.skill .container{
    background: white;
    height: auto;
    display: grid;
    grid-gap: 1rem;
    place-items: center;
    border-radius: 10px;
    grid-template-columns: repeat(auto-fit , minmax(120px , 1fr));
}

.skill .container .box{
    background:white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    height: 125px;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: all 0.5s ease;
}

.skill .container .box:hover{
    scale: 2;
}

.skill .container .box .image{
    height: 50px;
    width: 50px;
}

.skill .container .box .image img{
    height: 100%;
    width: 100%;
}


.skill .container .box .text{
    text-align: center;
    font-size: 16px;
}

#portfolios{
    height: auto;
    width: 100%;
    margin-bottom: 2%;
}

.portfolio{
    height: 100%;
}

.portfolio .small-text{
    text-align: center;
    color: #006666;
}

.portfolio .small-text small{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-right: 5px;
}

.portfolio h2{
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    margin: 15px;
    letter-spacing: 5px;
}

.portfolio p{
    text-align: center;
    font-size: 13px;
    margin-top: 5px;
    line-height: 20px;
}

.portfolio .container{
    height: auto;
    display: grid;
    grid-gap: 1rem;
    place-items: center;
    border-radius: 10px;
    grid-template-columns: repeat(auto-fit , minmax(280px , 1fr));
}

.portfolio .container .box{
    height: 190px;
    width: 290px;
    background:rgba(255, 255, 255, 0.66);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: all 0.5s ease;
}

.portfolio .container .box:hover{
    scale: 1.4;
}

.portfolio .container .box .top-cont{
    height: 130px;
    margin: 18px 16px;
    background: rgb(241, 241, 241);
    border-radius: 10px;
}

.portfolio .container .box .top-cont .view{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    color: black;
}

.portfolio .container .box .top-cont .view img{
    height: 100%;
    width: 100%;
}

.portfolio .container .box .top-cont .bottom-cont{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    color: #006666;
    display: flex;
    justify-content: space-around;
}

#exec-btn{
    background: #006666;
}

.exec{
    color: #006666;
}

#contacts{
    height: auto;
    width:100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 2%;
}

#contacts .contact{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

#contacts .contact h2{
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 5px;
}

#contacts .contact p{
    text-align: center;
}

.contact .container{
    height: auto;
    width: 100%;
    background: white;
    border-radius: 10px;
    display: grid;
    place-items: center;
    border-radius: 10px;
    grid-template-columns: repeat(auto-fit , minmax(50px , 0.4fr));
}  

.contact .container .box{
    height: 90px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact .container .box .icon{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.contact .container .box .icon a img{
    height: 50px;
    width: 50px;
}

.contact .container .box .name p{
    font-size: 12px;
    margin-bottom: 0;
    color: #006666;
}

.contact .container .box .name p a{
    color: #006666;
    text-decoration: none;
}

.contact p{
    text-align: center;
    padding-bottom: 10px;
    color: #006666;
}

.footer{
    width: 100%;
    height: auto;
    padding: 40px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
    text-align: center;
}

.footer a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
.footer a i{
    margin-right: 10px;
    color: white;
}

.footer .copy-right{
    color: white;
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .container .left-container {
        display: none;
    }
    .container .contents {
        width: 100%;
    }
    .bottom-container .qutos h1{
        margin-bottom: -15px;
        font-size: 25px;
    }
    .name-subtext .name{
        font-size: 28px;
    }
    .sub-text span{
        font-size: 24px;
    }
    .bottom-container .resume-git button{
        padding: 12px 18px;
        font-size: 18px;
    }
    .what_i_do h2{
        font-size: 24px;
    }
    .about-container .text .intro .disc{
        font-size: 15px;
    }
    .about-container .text .intro .disc span{
        font-size: 15px;
    }
    .about h2{
        font-size: 20px;
        padding-bottom: 0;
    }
    .edu h2{
        font-size: 20px;
        padding-bottom: 5px;
    }
    .edu .container .box .label{
        font-size: 20px;
    }
    .edu .container .box .name{
        font-size: 15px;
    }
    .edu .container .box .location{
        font-size: 15px;
    }
    .edu .container .box .aggregate{
        font-size: 15px;
    }
    .about .scroll .runner{
        width: 270px;
    }
    .skill h2{
        font-size: 20px;
        padding-bottom: 5px;
    }
    .what_i_do .container .box h2{
        font-size: 20px;
        padding-bottom: 5px;   
    }
    .what_i_do .container .box p{
        font-size: 14px;
        padding-top: 5px;   
    }
    #portfolios .name{
        text-align: center;
        font-size: 25px;
        padding: 10px;
    }
    #portfolios .desc{
        font-size: 28px;
        padding: 10px;
    }
    .portfolio p{
        font-size: 10px;
        margin-top: 5px;
        line-height: 15px;
        text-align: justify;
        margin-bottom: 10px;
    }
    .portfolio h2{
        text-align: center;
        font-size: 35px;
    }
    .portfolio .small-text small{
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 3px;
        margin-right: 5px;
        margin-top: 10px;
    }
    #contacts .contact h2{
        font-size: 40px;
        padding-top: 10px;
    }
    
    #contacts .contact p{
        text-align: center;
    }
    .contact p{
        font-size: 12px;
        text-align: center;
        padding-bottom: 10px;
    }
    .footer .top-footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        font-size: 16px;
        flex-direction: column;
    }

}

